{% extends 'base.html' %}

{% block hero%}
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "accounts:profile" %}';
</script>
{% endif %}
<div style="display: flex; justify-content: center;">
    <div style="border: 3px solid #10ddb4; padding: 100px 50px 50px; margin-top: 50px; width: 500px;border-radius: 20px;background-color: #6c757d;">
        <div class="text-center pt-4">
            <p class="h4 mb-2 font-weight-bold">A link has been sent to your email address </p>
            <p class="mb-4">If you don't receive an email, please make sure you've entered
                the address you registered with</p>
        </div>

        <p class="small text-center pt-4">
            <a href="{% url 'accounts:login' %}">Sign-in?</a>
        </p>
        <p class="small text-center">
            <a href="#">Help Center?</a>
        </p>
    </div>
</div>

{% endblock %}

{% block sidebar%}
{% endblock %}

{% block content_after %}
{% endblock %}